H1{
	color: Yellow;
	text-align:CENTER;
	font-size: 16px;
	background-color:purple;
}
#me{
	color: RED;
	font-size:32px;
}
#code{
	color: Grey;
}
div{

color: Yellow;
	text-align:CENTER;
	font-size: 16px;
	background-color:brown;
}